<ul> <!--ul tag is a block element that creates an unordered list -->
  <% @bookmarks.each do |bookmark| %>
  <li><%= bookmark %></li>   <!-- <li> represents an item in a list, must be comtained in a parent element e.g ul -->
  <% end %>
</ul>
